body {
  margin: 0;
  padding: 0;
  background: url('images/satrwarsfundo.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  color: white;
}



.container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  margin-top: 50px;
}

input[type="text"] {
  padding: 10px;
  width: 80%;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.search-wrapper {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.search-wrapper input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
}

#suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: black;
  border: 1px solid #ccc;
  border-top: none;
  color: white;
  max-height: 150px;
  overflow-y: auto;
  z-index: 999;
  border-radius: 0 0 5px 5px;
}



#suggestions div {
  padding: 10px;
  cursor: pointer;
}

#suggestions div:hover {
  background: #333;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #ffc107;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.character-info {
  margin-top: 2rem;
  text-align: left;
}

.character-info img {
  max-width: 150px;
  border-radius: 10px;
}

h1 {
  font-family: 'Star Jedi', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
#starfield {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: black;
}
